@media screen and (max-width:576px) {
    header{
        grid-template-columns: 20% 80%;
    }

    header>h1{
        font-size: larger;
    }

    .head-ua{
        display: none;
    }

    .wrapper{
        grid-template-columns: 100%;
    }

    .container{
       grid-column-start: 1;
       width: auto;
    }

    .conteiner-box1{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
    .conteiner-box1-video> video{
        grid-column-start: 1;
        grid-row-start: 1;
        padding: 5px 0 5px 0px;
    }

    .conteiner-box1-description{
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .conteiner-box1-social_icon{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 1;
        right: 30px;
    }

    .conteiner-box2{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .conteiner-box2>p{
        margin: 30px 0px 30px 0px;
    }

    .conteiner-box2-video{
        margin-bottom: 30px;
    }

    .conteiner-box3-item{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .conteiner-box3-item>h3{
        grid-column-start: 1;
        grid-row-start: 1;
        margin-bottom: 30px;
    }

    .conteiner-box3-item>img{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    .conteiner-box3-item>p{
        margin: 30px 0px 30px 0px;
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .conteiner-box3-item-social_icon{
        grid-row-start: 4;
        grid-column-start: 1;
        top: 20px;
        left: 0px;
    }

}