@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0;
}

header{
    position: relative;
    z-index: 3;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    background:linear-gradient(#0000FF 0%, #000080 100%);
}

.head-icon{
    position: relative;
    left: 20%;
    box-shadow: 0px 0px 20px white;
    margin: 10px;
    width: 50px;
    border-radius: 10%;
    grid-column-start: 1;
}

header>h1{
    position: relative;
    top: 10px;
    text-shadow: 0px 0px 20px white;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    grid-column-start: 2;
}

.head-ua{
    border-radius: 10%;
    margin: 10px;
    width: 70px;
    grid-column-start: 3;
}

.wrapper{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 100%;
    background: url(img/hand-painted-watercolor-background-with-sky-and-clouds-shape.jpg);
    background-size: cover;
}

.container{
    z-index: 2;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0px 30px white;
    grid-column-start: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    min-width: 250px;
    max-width: 1024px;
    margin: 0 auto;
}

.conteiner-box1{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
    border-bottom: 2px solid gray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-bottom: 30px;
}

.conteiner-box1-video{
    opacity: 0%;
}

.conteiner-box1-video> video{
    position: relative;
    top: -50px;
    box-shadow: 0 0 30px #000080;
    width: 90%;
    padding: 10px 0 10px 0px;
    margin-left: 10px;
    height: 500px;
    grid-column-start: 1;
}

.conteiner-box1-video.-animate{
    transition: 0.6s;
    opacity: 100%;
    transform: translateY(50px);
}

.conteiner-box1-description{
    position: relative;
    top: -50px;
    opacity: 0%;
    margin-top: 40px;
    line-height: 40px;
    text-align: center;
    list-style-type: none;
    grid-column-start: 2;
    font-family: 'Montserrat', sans-serif;
}

.conteiner-box1-description.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.conteiner-box1-social_icon>ul>li{
    margin-top: 30px;
}

.conteiner-box1-social_icon{
    position: relative;
    top: -50px;
    opacity: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 20%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 30px;
}

.conteiner-box1-social_icon.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.conteiner-box1-social_icon >ul>li{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 30px;
}

.conteiner-box1-social_icon >ul>li:hover{
    z-index: 3;
    transform: scale(0.75);
}

.conteiner-box1-social_icon >ul>li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 15px white,
    0 0 0 20px var(--clr);
    transition: 0.5s;
}

.conteiner-box1-social_icon >ul>li:hover:before{
    inset: 0px;
}

.conteiner-box1-social_icon >ul>li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    transform: rotate(45deg);
}

.conteiner-box1-social_icon>ul>li>a{
    position: relative;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
}

.conteiner-box1-social_icon>ul>li:hover>a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 25px var(--clr)) drop-shadow(0 0 30px var(--clr));
}

.container-Place{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    border-bottom: 2px solid gray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.container-Place>h1{
    position: relative;
    top: -50px;
    opacity: 0%;
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    margin-bottom: 20px;
}

.container-Place>a>img{
    width: 100%;
}

.container-Place>a{
    position: relative;
    top: -50px;
    opacity: 0%;
    margin: 0 auto;
    width: auto;
    grid-column-start: 2;
    grid-row-start: 2;
    border: 2px solid #000080;
    box-shadow: 0px 0px 20px #000080;
    transition: 0.5s;
}


#containerPlaceItem.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

#containerPlaceItemMap.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

#containerPlaceItemMap:hover{
    box-shadow: 0px -10px 40px #000080;
    transition: 0.5s;
    transform: translateY(60px);
}

#containerPlaceItemMap:focus{
    box-shadow: 0px -10px 40px #000080;
    transition: 0.5s;
    transform: translateY(60px);
}

.conteiner-box2{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 550px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid gray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-bottom: 30px;
}

.conteiner-box2>h2{
    position: relative;
    top: -50px;
    opacity: 0%;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
}

#Box2-h2.-animate,
#Box2-p.-animate,
#Box2-video.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.conteiner-box2>p{
    position: relative;
    top: -50px;
    opacity: 0%;
    grid-column-start: 1;
    grid-row-start: 2;
}

#Box2-video{
    position: relative;
    top: -50px;
    opacity: 0%;
}

.conteiner-box2-video>video{
    box-shadow: 0 0 30px #000080;
    width: 90%;
    padding: 10px 0 10px 0px;
    margin-left: 10px;
    height: 500px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container-Training_schedule{
    width: 100%;
    display: grid;
    grid-gap: 35px;
    grid-template-rows: auto;
    font-family: 'Montserrat', sans-serif;
}

.container-Training_schedule>img{
    width: 100%;
    grid-row-start: 2;
    border: 2px solid #0000FF;
    box-shadow: 0 0 10px #0000FF;
}

.container-Training_schedule>h2{
    margin-top: 0px;
    grid-row-start: 1;
    text-align: center;
}

.container-Training_schedule>p{
    grid-row-start: 3;
    text-align: center;
}

#container-Training_schedule-h2,
#container-Training_schedule-img,
#container-Training_schedule-p{
    position: relative;
    top: -50px;
    opacity: 0%;
}

#container-Training_schedule-h2.-animate,
#container-Training_schedule-img.-animate,
#container-Training_schedule-p.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.container-Price{
    display: grid;
    grid-template-rows: auto;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border-bottom: 2px solid gray;
    border-left: 2px solid white;
    border-right: 2px solid white;
    margin-bottom: 30px;
}

.container-Price>h1{
    grid-row-start: 1;
    text-align: center;
}

.container-Price>ul{
    grid-row-start: 2;
    list-style-type: none;
    margin: 40px auto 30px auto;
}

#container-Price-h1,
#container-Price-li-1,
#container-Price-li-2,
#container-Price-li-3{
    position: relative;
    top: -50px;
    opacity: 0%;
}

#container-Price-h1.-animate,
#container-Price-li-1.-animate,
#container-Price-li-2.-animate,
#container-Price-li-3.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.conteiner-box3{
    font-family: 'Montserrat', sans-serif;
}

.conteiner-box3>h1{
    text-align: center;
    margin-bottom: 30px;
}

.conteiner-box3-item{
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 330px 40px;
    margin-bottom: 120px;
}

.conteiner-box3-item>img{
    border-radius: 10%;
    box-shadow: 0 0 10px #0000FF;
    width: 80%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.conteiner-box3-item-social_icon{
    box-sizing: border-box;
    position: relative;
    left: 30px;
    top: -120px;
    display: flex;
    gap:20px;
    grid-row-start: 3;
    grid-column-start: 1;
}

.conteiner-box3-item-social_icon>ul>li{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.conteiner-box3-item-social_icon>ul>li:hover{
    z-index: 3;
    transform: scale(0.75);
}

.conteiner-box3-item-social_icon>ul>li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 15px white,
    0 0 0 20px var(--clr);
    transition: 0.5s;
}

.conteiner-box3-item-social_icon>ul>li:hover:before{
    inset: 0px;
}

.conteiner-box3-item-social_icon>ul>li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    transform: rotate(45deg);
}

.conteiner-box3-item-social_icon>ul>li>a{
    position: relative;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
}

.conteiner-box3-item-social_icon>ul>li:hover>a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 25px var(--clr)) drop-shadow(0 0 30px var(--clr));
}

#container-box3,
#box3-item1,
#box3-item2,
#box3-item3{
    position: relative;
    top: -50px;
    opacity: 0%;
}

#container-box3.-animate,
#box3-item1.-animate,
#box3-item2.-animate,
#box3-item3.-animate{
    opacity: 100%;
    transition: 0.6s;
    transform: translateY(50px);
}

.end{
    position: relative;
    z-index: 3;
    background:linear-gradient(#0000FF 0%, #000080 100%);
    padding: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.end>ul{
    text-shadow: 0px 0px 20px white;
    color: white;
}