@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-decoration: none;
}

header{
    position: relative;
    z-index: 3;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    width: 100%;
    background:linear-gradient(#0000FF 0%, #000080 100%);
}

.icon{
    position: relative;
    left: 20%;
    box-shadow: 0px 0px 20px white;
    margin: 10px;
    width: 40%;
    border-radius: 10%;
    grid-column-start: 1;
}

header>h1{
    position: relative;
    top: 10px;
    text-shadow: 0px 0px 20px white;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    grid-column-start: 2;
}

.flag{
    border-radius: 10%;
    margin: 10px;
    width: 70%;
    grid-column-start: 3;
}

.nav{
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 100%;
    width: 0%;
    height: 100%;
    background: linear-gradient(#6495ED 0%, #1E90FF 100%);
    transition: 0.6s;
}

.nav.-active{
    left: 85%;
    width: 40%;
    -webkit-transform: skew(30deg);
    transition: 0.6s;
}

.navbtn{
    -webkit-transform: skew(-30deg);
    opacity: 0%;
    width: 0%;
    transition: 0.4s;
}

.navbtn.-active{
    transition: 0.4s;
    opacity: 100%;
    width: 18%;
}

#button>a{
    color: white;
    transition: 0.3s;
}

#button>a>li:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.openButton{
    background: linear-gradient(#0000FF 0%, #000080 100%);
    border: 1px solid white;
    color: white;
    padding: 10px;
    z-index: 3;
    position: fixed;
    left: 98%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    transition: 0.5s;
}

.openButton:hover{
    background: white;
    color: #0000FF;
    border: 1px solid #0000FF;
    transition: 0.5s;
}

.closebtn{
    position: relative;
    left: 5%;
    font-size: 2em;
    color: white;
    transition: 0.3s;
}

.closebtn:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

.navbtn>ul{
    position: relative;
    top: 40px;
    left: 20vh;
    line-height: 30px;
    font-size: 1.5em;
}

.wrapper{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    height: 100%;
    background: url(img/hand-painted-watercolor-background-with-sky-and-clouds-shape.jpg);
    background-size: cover;
}

.container{
    z-index: 2;
    padding: 10px 10px 0 10px;
    box-shadow: 0 0px 30px white;
    grid-column-start: 2;
    background-color: white;
    width: 100%;
    height: 100%;
}

.content1{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 550px 100px;
}

.video1> video{
    box-shadow: 0 0 30px #000080;
    width: 90%;
    padding: 10px 0 10px 0px;
    margin-left: 10px;
    height: 500px;
    grid-column-start: 1;
}

.description{
    margin-top: 40px;
    line-height: 40px;
    text-align: center;
    grid-column-start: 2;
    font-family: 'Montserrat', sans-serif;
}

.social_icon{
    box-sizing: border-box;
    position: relative;
    left: 30px;
    top: -120px;
    display: flex;
    gap:20px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.social_icon >ul>li{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.social_icon >ul>li:hover{
    z-index: 3;
    transform: scale(0.75);
}

.social_icon >ul>li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 15px white,
    0 0 0 20px var(--clr);
    transition: 0.5s;
}

.social_icon >ul>li:hover:before{
    inset: 0px;
}

.social_icon >ul>li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    transform: rotate(45deg);
}

.social_icon>ul>li>a{
    position: relative;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
}

.social_icon>ul>li:hover>a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 25px var(--clr)) drop-shadow(0 0 30px var(--clr));
}

.content2{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50px 550px;
    font-family: 'Montserrat', sans-serif;
}

.content2>h2{
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
}

.content2>p{
    grid-column-start: 1;
    grid-row-start: 2;
}

.video2>video{
    box-shadow: 0 0 30px #000080;
    width: 90%;
    padding: 10px 0 10px 0px;
    margin-left: 10px;
    height: 500px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Training_schedule{
    width: 100%;
    display: grid;
    grid-gap: 35px;
    grid-template-rows: 40px 200px 50px;
    font-family: 'Montserrat', sans-serif;
}

.Training_schedule>img{
    width: 100%;
    grid-row-start: 2;
    border: 2px solid #0000FF;
    box-shadow: 0 0 10px #0000FF;
}

.Training_schedule>h2{
    margin-top: 0px;
    grid-row-start: 1;
    text-align: center;
}

.Training_schedule>p{
    grid-row-start: 3;
    text-align: center;
}

.content3{
    font-family: 'Montserrat', sans-serif;
}

.content3>h1{
    text-align: center;
    margin-bottom: 30px;
}

.box{
    justify-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 330px 40px;
    margin-bottom: 30px;
    margin-bottom: 120px;
}

.box>img{
    border-radius: 10%;
    box-shadow: 0 0 10px #0000FF;
    width: 80%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.social{
    box-sizing: border-box;
    position: relative;
    left: 30px;
    top: -120px;
    display: flex;
    gap:20px;
    grid-row-start: 3;
    grid-column-start: 1;
}

.social>ul>li{
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.social>ul>li:hover{
    z-index: 3;
    transform: scale(0.75);
}

.social>ul>li::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 15px white,
    0 0 0 20px var(--clr);
    transition: 0.5s;
}

.social>ul>li:hover:before{
    inset: 0px;
}

.social>ul>li::after{
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    transform: rotate(45deg);
}

.social>ul>li>a{
    position: relative;
    color: var(--clr);
    z-index: 2;
    font-size: 2em;
    transition: 0.5s;
}

.social>ul>li:hover>a{
    font-size: 3em;
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 25px var(--clr)) drop-shadow(0 0 30px var(--clr));
}

.end{
    position: relative;
    z-index: 3;
    background:linear-gradient(#0000FF 0%, #000080 100%);
    padding: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.end>ul{
    text-shadow: 0px 0px 20px white;
    color: white;
}